<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="ban">Final Project Python</h1>
        <h1 class="banner">Movies & Director API</h1>
        <body>
          <h3 align="left">Biodata Diri</h3>
          <table width="200" border="1" cellspacing="0" cellpadding="5" align="center">
          <tr align="center" bgcolor="#66CC33">
          <td width="174"><b>DATA DIRI</b></td>
          <td width="353"><b>KETERANGAN</b></td>
          </tr>
          <tr>
          <td>Nama</td>
          <td>Dini Tri Widianingsih</td>
          </tr>
          <tr>
          <td>Kode Peserta</td>
          <td>FSDO003ONL007</td>
          </tr>
          <tr>
          <td>Jurusan</td>
          <td>Teknik Informatika</td>
          </tr>
          <tr>
          <td>Jenis Kelamin</td>
          <td>Perempuan</td>
          </tr>
          <tr>
          <td>Tempat/Tanggal Lahir</td>
          <td>Jakarta, 26 Oktober 1999</td>
          </tr>
          <tr>
          <td>Perguruan Tinggi</td>
          <td>Universitas Indraprasta PGRI</td>
          </tr>
          <tr>
          <td>Test Swagger API</td>
          <td><a href="/api/ui">Click Here</a></td>
          </tr>
          </table>
          </body>        
    </div>
</body>
<!-- <script src="static/js/home.js"></script> -->
</html>